# 22 MARCH ASSIGNMENT

Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose
you have collected data on the amount of time students spend studying for an exam and their final exam
scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

In [6]:
import pandas as pd
import numpy as np

np.random.seed(123)
time_spent_studying = [4,9,5,1,3,7,5,3,4,8,9]
final_exam_scores = [60,95,56,30,85,65,44,37,75,75,94]

df = pd.DataFrame({'time_spent_studying': time_spent_studying, 'final_exam_scores': final_exam_scores})
df

    time_spent_studying  final_exam_scores
0                     4                 60
1                     9                 95
2                     5                 56
3                     1                 30
4                     3                 85
5                     7                 65
6                     5                 44
7                     3                 37
8                     4                 75
9                     8                 75
10                    9                 94

In [7]:
df.corr()

                     time_spent_studying  final_exam_scores
time_spent_studying             1.000000           0.710851
final_exam_scores               0.710851           1.000000

Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables.
Suppose you have collected data on the amount of sleep individuals get each night and their overall job
satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two
variables and interpret the result.

In [10]:
import pandas as pd
import numpy as np

np.random.seed(123)
sleeping_time = [5,8,3,7,6,8,9,8,2]
satisfaction = [4,10,3,9,9,7,10,8,5]

df = pd.DataFrame({'Time_spent_sleeping': sleeping_time, 'Overall Satisfaction': satisfaction})
df

   Time_spent_sleeping  Overall Satisfaction
0                    5                     4
1                    8                    10
2                    3                     3
3                    7                     9
4                    6                     9
5                    8                     7
6                    9                    10
7                    8                     8
8                    2                     5

In [11]:
df.corr(method='spearman')

                      Time_spent_sleeping  Overall Satisfaction
Time_spent_sleeping              1.000000              0.743617
Overall Satisfaction             0.743617              1.000000

Q3. Suppose you are conducting a study to examine the relationship between the number of hours of
exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables
for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation
between these two variables and compare the results.

In [12]:
import numpy as np
from scipy.stats import pearsonr, spearmanr

exercise_hours = np.random.normal(5, 2, 50)
bmi = np.random.normal(25, 4, 50)

corr, pval = pearsonr(exercise_hours, bmi)
print("Pearson correlation coefficient:", corr)

spearman_corr, pval = spearmanr(exercise_hours, bmi)
print("Spearman's rank correlation coefficient:", spearman_corr)

Pearson correlation coefficient: -0.08524059160268607
Spearman's rank correlation coefficient: -0.08321728691476589

Q4. A researcher is interested in examining the relationship between the number of hours individuals
spend watching television per day and their level of physical activity. The researcher collected data on
both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
these two variables.

In [13]:
import numpy as np
from scipy.stats import pearsonr

tv_hours = np.random.normal(3, 1, 50)
physical_activity = np.random.normal(6, 2, 50)

corr, pval = pearsonr(tv_hours, physical_activity)
print("Pearson correlation coefficient:", corr)

Pearson correlation coefficient: -0.205145584041972

Q5. A survey was conducted to examine the relationship between age and preference for a particular
brand of soft drink. The survey results are shown below:

In [14]:
age=[25,42,37,19,31,28]
preference=['Coke','Pepsi','Mountain dew','Coke','Pepsi','Coke']
df = pd.DataFrame({'Age': age, 'Soft Drink Preferences': preference})

In [16]:
from sklearn.preprocessing import LabelEncoder
lbl_encoder= LabelEncoder()

In [19]:
df['Preferences Encoded']=lbl_encoder.fit_transform(df[['Soft Drink Preferences']])

c:\Users\yashp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [20]:
df

   Age Soft Drink Preferences  Preferences Encoded
0   25                   Coke                    0
1   42                  Pepsi                    2
2   37           Mountain dew                    1
3   19                   Coke                    0
4   31                  Pepsi                    2
5   28                   Coke                    0

In [21]:
df.corr()

C:\Users\yashp\AppData\Local\Temp\ipykernel_2296\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

                          Age  Preferences Encoded
Age                  1.000000             0.769175
Preferences Encoded  0.769175             1.000000

Q6. A company is interested in examining the relationship between the number of sales calls made per day
and the number of sales made per week. The company collected data on both variables from a sample of
30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [26]:
import numpy as np
from scipy.stats import pearsonr

np.random.seed(123)
sales_calls = np.random.randint(50, 150, size=30)
sales_per_week = np.random.randint(2, 32, size=30)

corr, _ = pearsonr(sales_calls, sales_per_week)
print('Pearson correlation coefficient:', corr)

Pearson correlation coefficient: 0.16501203522563854