# 25 FEBRUARY ASSIGNMENT

In [2]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data','Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [4]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [8]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

* loc is a label-based indexer, which means it accesses rows and columns by their labels. It accepts row and column labels as inputs and returns a DataFrame or Series that corresponds to those labels.

* iloc is an integer-based indexer, which means it accesses rows or columns by their integer position. It accepts the row and column integer positions as parameters and returns a DataFrame or a Series that corresponds to those positions.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [12]:
reindex=[3,0,1,2]
new_df=df.reindex(reindex)
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [13]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [14]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [24]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [25]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.471322  0.203313  0.580834  0.799200  0.689583  0.385592
2  0.010633  0.486499  0.915531  0.990688  0.092238  0.731619
3  0.431713  0.730977  0.513237  0.472787  0.383018  0.514268
4  0.185839  0.683866  0.691735  0.365153  0.016305  0.221782
5  0.536261  0.706432  0.443842  0.059576  0.695920  0.409634
6  0.272435  0.005356  0.414566  0.241812  0.928116  0.729345

Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) mean of each and every column present in the dataframe.


(ii) standard deviation of column, ‘column_2’

In [26]:
df1.mean()

column_1    0.318034
column_2    0.469407
column_3    0.593291
column_4    0.488203
column_5    0.467530
column_6    0.498707
dtype: float64

In [27]:
df1['column_2'].std()

0.30233559454028475

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [28]:
df1.loc[2,'column_2']='yash'

In [29]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.471322  0.203313  0.580834  0.799200  0.689583  0.385592
2  0.010633      yash  0.915531  0.990688  0.092238  0.731619
3  0.431713  0.730977  0.513237  0.472787  0.383018  0.514268
4  0.185839  0.683866  0.691735  0.365153  0.016305  0.221782
5  0.536261  0.706432  0.443842  0.059576  0.695920  0.409634
6  0.272435  0.005356  0.414566  0.241812  0.928116  0.729345

In [30]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

We cannot calculate the mean of an string and if we want to proceed to calculate mean then we should convert the same to integer value.

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

A window function (also known as a rolling or sliding function) applies to a moving window of data in a DataFrame or Series. It enables you to compute statistics or transformations in real time.

The fundamental benefit of employing window functions in pandas is that they make it simple to do time-series operations. Window functions can be used to study trends, find patterns, or smooth out data that might otherwise be difficult to analyse

Q7. Write a code to print only the current month and year at the time of answering this question.

In [31]:
import pandas as pd
from datetime import datetime


current_date = datetime.now()

timestamp = pd.Timestamp(current_date)

current_month = timestamp.month
current_year = timestamp.year

print(f"Current month and year: {current_month}/{current_year}")

Current month and year: 3/2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [37]:
start_date = input("Enter the start date (YYYY-MM-DD): ")
end_date = input("Enter the end date (YYYY-MM-DD): ")
start_timestamp = pd.Timestamp(start_date)
end_timestamp = pd.Timestamp(end_date)

sd=pd.to_datetime(start_date)
ed=pd.to_datetime(end_date)

time_diff = end_timestamp - start_timestamp

days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds % 3600) // 60

print(f"Time difference: {days} days, {hours} hours, {minutes} minutes")

Time difference: 283 days, 0 hours, 0 minutes

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:

file_path = input("Enter the file path: ")
column_name = input("Enter the column name: ")
category_order = input("Enter the category order (comma-separated): ").split(",")

df = pd.read_csv(file_path)

df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

df = df.sort_values(column_name)

print(df)

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

file_path = input("Enter the file path of the CSV file containing the sales data: ")

df = pd.read_csv(file_path)

df['Date'] = pd.to_datetime(df['Date'])

grouped_df = df.groupby(['Date', 'Product Category'])['Sales'].sum().reset_index()

pivot_df = grouped_df.pivot(index='Date', columns='Product Category', values='Sales')

ax = pivot_df.plot(kind='bar', stacked=True)
ax.set_xlabel('Date')
ax.set_ylabel('Sales')
ax.set_title('Sales by Product Category over Time')
plt.show()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

The program should do the followingM

* Prompt the user to enter the file path of the CSV file containing the student dataR

* Read the CSV file into a Pandas DataFrameR

* Calculate the mean, median, and mode of the test scores using Pandas toolsR

* Display the mean, median, and mode in a table.

In [ ]:
import pandas as pd

file_path = input("Enter the file path of the CSV file containing the student data: ")

df = pd.read_csv(file_path)

mean = df['Test Score'].mean()
median = df['Test Score'].median()
mode = df['Test Score'].mode()

table = pd.DataFrame({'Statistic': ['Mean', 'Median', 'Mode'], 'Value': [mean, median, mode]})
print(table)