# 17 FEBRUARY ASSIGNMENT

Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

MongoDB is a high-performance, scalable, and flexible NoSQL document-oriented database management system. Because it lacks the conventional relational database structure of tables, columns, and rows, it is categorized as a NoSQL database. Instead, MongoDB uses dynamic schemas to store data in flexible, JSON-like documents, making it a popular option for contemporary web and mobile applications. 

When handling large volumes of unstructured or semi-structured data, such as in social media, e-commerce, or mobile applications, MongoDB is preferred over SQL databases. 

It is also appropriate for applications that need dynamic scaling, high write throughput, or real-time analytics. MongoDB is more capable of handling data with varying structures and more dynamic schema changes than SQL databases because it employs a flexible document-oriented data model.

Q2. State and Explain the features of MongoDB.

MongoDB is a NoSQL document-oriented database management system that includes a number of features intended to make it highly performant, scalable, and flexible.

Some of the key features of MongoDB are:

* Document-Oriented: Unlike SQL databases, MongoDB uses a flexible document-oriented data model that can handle data with a variety of structures.
* Aggregation: The aggregation framework provided by MongoDB enables you to carry out sophisticated data processing and analysis on sizable datasets.
* Indexing: To improve query performance, MongoDB offers a variety of indexing options. You can make indexes on embedded documents and arrays, and it supports both single-field and compound indexes.
* Flexible Schema: Unlike SQL databases, which demand that each table have a predefined schema, MongoDB lets you dynamically change the schema.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://yashpadhye17:yashpadhye@cluster0.dqpxws3.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [2]:
db=client['pwskills']

In [4]:
coll_create = db["my_record"]

In [5]:
data = {"name":"yash",
        "class":"data science masters",
        "timing":"flexi"
}

In [6]:
coll_create.insert_one(data)

In [7]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63efb3e28f04727fa62ed1c4'), 'name': 'yash', 'class': 'data science masters', 'timing': 'flexi'}

Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [8]:
data1 ={"mail_id" : "yash@gmail.com",
        "phone_number" : 98515154474
}

In [9]:
coll_create.insert_one(data1)

In [10]:
data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [11]:
coll_create.insert_many(data2)

In [12]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63efb3e28f04727fa62ed1c4'), 'name': 'yash', 'class': 'data science masters', 'timing': 'flexi'}
{'_id': ObjectId('63efb5338f04727fa62ed1c5'), 'mail_id': 'yash@gmail.com', 'phone_number': 98515154474}
{'_id': ObjectId('63efb5568f04727fa62ed1c6'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63efb5568f04727fa62ed1c7'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63efb5568f04727fa62ed1c8'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63efb5568f04727fa62ed1c9'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63efb5568f04727fa62ed1ca'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63efb5568f04727fa62ed1cb'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63efb5568f04727fa62ed1cc'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63efb5568f04727fa62ed1cd'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63efb5568f04727fa62ed1ce'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63efb5568f04727fa62ed1cf'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63efb5568f04727fa62ed1d0'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63efb5568f04727fa62ed1d1'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [13]:
coll_create.find_one()

{'_id': ObjectId('63efb3e28f04727fa62ed1c4'),
 'name': 'yash',
 'class': 'data science masters',
 'timing': 'flexi'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

The find() method is used to query the MongoDB database to retrieve data from a collection.

In [14]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63efb3e28f04727fa62ed1c4'), 'name': 'yash', 'class': 'data science masters', 'timing': 'flexi'}
{'_id': ObjectId('63efb5338f04727fa62ed1c5'), 'mail_id': 'yash@gmail.com', 'phone_number': 98515154474}
{'_id': ObjectId('63efb5568f04727fa62ed1ce'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63efb5568f04727fa62ed1c7'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63efb5568f04727fa62ed1ca'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63efb5568f04727fa62ed1c6'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63efb5568f04727fa62ed1cb'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63efb5568f04727fa62ed1d0'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63efb5568f04727fa62ed1cd'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63efb5568f04727fa62ed1d1'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63efb5568f04727fa62ed1cf'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63efb5568f04727fa62ed1c8'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63efb5568f04727fa62ed1c9'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63efb5568f04727fa62ed1cc'), 'name': 'Susan', 'address': 'One way 98'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

The documents in a MongoDB collection are sorted using the sort() method. To specify the sorting order and the fields to sort by, one or more parameters are required. A cursor object that can be used to loop through the sorted documents is returned by the sort() method.

In [15]:
results = coll_create.find().sort("name", 1)

In [16]:
for result in results:
    print(result)

{'_id': ObjectId('63efb5338f04727fa62ed1c5'), 'mail_id': 'yash@gmail.com', 'phone_number': 98515154474}
{'_id': ObjectId('63efb5568f04727fa62ed1c6'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63efb5568f04727fa62ed1ce'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63efb5568f04727fa62ed1ca'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63efb5568f04727fa62ed1d0'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63efb5568f04727fa62ed1c7'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63efb5568f04727fa62ed1c8'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63efb5568f04727fa62ed1cb'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63efb5568f04727fa62ed1c9'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63efb5568f04727fa62ed1cc'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63efb5568f04727fa62ed1cd'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63efb5568f04727fa62ed1d1'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63efb5568f04727fa62ed1cf'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63efb3e28f04727fa62ed1c4'), 'name': 'yash', 'class': 'data science masters', 'timing': 'flexi'}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

* delete_one(): This method is used to delete a single document from a collection that matches a specified filter. This method is useful when you want to remove a specific document from the collection.
* delete_many(): This method is used to delete multiple documents from a collection that match a specified filter. This method is useful when you want to remove a set of documents that meet a certain criteria.
* drop(): This method is used to delete an entire collection from the database.

In [20]:
filter = {'name': 'Amy'}
result=coll_create.delete_one(filter)
print(result.deleted_count)

0

In [22]:
filter = {'name': 'yash'}
result=coll_create.delete_many(filter)
print(result.deleted_count)

1

In [23]:
coll_create.drop()