# 24 FEBRUARY ASSIGNMENT

Q1. List any five functions of the pandas library with execution.

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('C:/Users/yashp/OneDrive/Desktop/DSM/PRACTICE/services.csv')
#pd.read_csv(): This function is used to read data from a CSV file and create a DataFrame.

In [3]:
df.head()
# df.head(): This function is used to display the first few rows of a DataFrame.

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [4]:
df.describe()
#df.describe(): This function is used to generate descriptive statistics of a DataFrame

             id  location_id  program_id
count  23.00000    23.000000         0.0
mean   12.00000    11.956522         NaN
std     6.78233     6.711444         NaN
min     1.00000     1.000000         NaN
25%     6.50000     6.500000         NaN
50%    12.00000    12.000000         NaN
75%    17.50000    17.500000         NaN
max    23.00000    22.000000         NaN

In [5]:
grp=df.groupby('location_id')
#df.groupby(): This function is used to group data in a DataFrame based on a specified column or set of columns.

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [31]:
import pandas as pd

def index(df):
    newindex = pd.RangeIndex(start=1, step=2, stop=len(df)*2)
    df = df.set_index(newindex)
    return df

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [30]:
import pandas as pd

def sum(df):
    total = 0
    for i, row in df.iterrows():
        if i < 3:
            total += row['Values']
        else:
            break
    print("Sum of the first three values in the 'Values' column: ", total)

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [29]:
import pandas as pd

def wordcnt(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))
    return df

Q5. How are DataFrame.size() and DataFrame.shape() different?

* DataFrame.size: Returns the total number of items in the DataFrame, which is equal to the product of the number of rows and the number of columns.

* DataFrame.shape: Returns a tuple containing the dimensions of the DataFrame (number of rows, number of columns).

Q6. Which function of pandas do we use to read an excel file?

 The function read excel() reads an Excel file into a DataFrame df. The DataFrame that results can be printed or utilised for further analysis.

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [19]:
def extract_username(df):
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    return df

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

In [20]:
def select_rows(df):
    selected_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_df

The resulting new_df will contain only the selected rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10.

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [27]:
def calc(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std = df['Values'].std()
    print('Mean:', mean)
    print('Median:', median)
    print('Standard Deviation:', std)

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [28]:
def average(df):
    ma = df['Sales'].rolling(window=7, min_periods=1).mean()
    df['MovingAverage'] = ma
    return df

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

In [23]:
def add_weekday(df):
    df['Weekday'] = pd.to_datetime(df['Date']).dt.day_name()
    return df

This function transforms the 'Date' column to a datetime format using the pd.to datetime() method then extracts the weekday name for each date in the column using the dt.day_name() method. The generated weekday names are saved in a new column called 'Weekday'.

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [26]:
def date(df):
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    jandate = df.loc[mask]
    return jandate

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

The first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas itself.

 we can use the pandas library functions by prefixing them with pd.