<h1>ASSIGNMENT 2</h1>

<h3>Q1</h3>

In [ ]:
percentage=float(input("Enter the Percentage"))
if percentage>90:
    Grade='A'
    print("You Got",Grade)
elif percentage>80 and percentage<=90:
    Grade ='B'
    print("You Got",Grade)
elif percentage>=60 and percentage<=80:
    Grade='C'
    print("You Got",Grade)
else:
    Grade='D'
    print("You Got",Grade)

Enter the Percentage64.2
You Got C

<h3>Q2</h3>

In [ ]:
cost=int(input("Enter the Price of the bike"))
if cost>100000:
    tax=15
    print("Tax to be paid: ",tax,"%")
elif cost>50000 and cost<=100000:
    tax=10
    print("Tax to be paid: ",tax,"%")
elif cost<=50000:
    tax=5
    print("Tax to be paid: ",tax,"%")

Enter the Price of the bike64000
Tax to be paid:  10 %

<h3>Q4</h3>

In [ ]:
city=input("Enter City Name")
if city=="Delhi":
    monument="Red Fort"
    print("Monument:", monument)
elif city=="Agra":
    monument="Taj Mahal"
    print("Monument:", monument)
elif city=="Jaipur":
    monument="Jal Mahal"
    print("Monument:", monument)
else:
    print("Enter valid city")

Enter City NameJaipur
Monument: Jal Mahal

<h3>Q4</h3>

In [ ]:
no=int(input("Enter Number:"))
least=10
count=0
while(no>10):
    no=no/3
    count = count+1
print("Count= ",count)

Enter Number:686
Count=  4

<h3>Q5)why and when to use while loop in python give a detailed description wtih example.</h3>

While loop is used to run a block of code unit a certain condition is satisfied.
While loop works in this manner:
* It evaluates the condition at first
* If the condition is True then it goes inside the loop.
* This above process continues till it returns False.
* When condition evaluates as False then the loop stops.

In [ ]:
atom=10
while(atom<100):
    atom=atom+10
    print(atom)

20
30
40
50
60
70
80
90
100

<h3>Q6</h6>

In [ ]:
rows = 6
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print((i * 2 - 1), end=" ")
        j = j + 1
    i = i + 1
    print('')

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9
11 11 11 11 11 11

In [ ]:
rows = 5
i = rows
while i >= 1:
    j = rows
    while j > i:
        print(' ', end=' ')
        j -= 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i -= 1

* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
rows = 5
i = 0
i = rows - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

    *
   * *
  * * *
 * * * *
* * * * *

<h3>Q7 & Q8 ARE SIMILAR</h3>

In [ ]:
a=10
while (a>0):
    print(a)
    a=a-1

10
9
8
7
6
5
4
3
2
1